<div class="row2">
  <div class="borda">Sobre nós</div>
  O sistema <strong>Catalogo de Jogos</strong> é um sistema desenvolvido em Angular pelos alunos de ciências da computação da
  universidade FUMEC como trabalho final na matéria LTP4.<br>
  Nosso objetivo é reunir da melhor maneira possível todos os jogos existentes em todas as plataformas em um só local,
  para o usuário poder ficar por dentro de tudo que está acontecendo no mundo digital.<br>
  Com nosso sistema você é capaz de listar jogos das mais diferentes maneiras e assim adicioná-los a sua lista para
  ficar por dentro de suas novidades
  <br><br><br>

  <strong>By: </strong>João Vitor Resende, Eduardo Marun, Rafael Magalhães
</div>